
.login, .register, .reset-password{
    margin-top: 7%;
    height: 85vh;
    display: none;
    justify-content: center;
    align-items: center;
    background: #dde1e7;
}

.login img, .register img, .reset-password img{
    margin: 0 10px 0px 0px;
    background-color: #dde1e7;
    border-radius: 15px;
    box-shadow: -7px -7px 7px #ffffff73,
    5px 5px 5px #5e687949;
    width: 350px;
    height: 400px;
}

.login form, .register form, .reset-password form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 350px;
    height: 400px;
    background-color: #dde1e7;
    border-radius: 15px;
    box-shadow: -7px -7px 7px #ffffff73,
                5px 5px 5px #5e687949;
}

.title{
    height: 80px;
    line-height: 80px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15px;
    font-size: 22px;
    color: #808080;
}

.reset-password .title{
    margin-bottom: 30px;
}

.reset-password p{
    color: #808080;
    font-size: 16px;
    margin-bottom: 40px;
    text-align: center;
}

input[type=text], input[type=email], input[type=password]{
    width: 280px;
    height: 45px;
    margin-bottom: 15px;
    padding-left: 12px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: #3498db;
    background-color: #dde1e7;
    box-shadow: -3px -3px 7px #ffffff73,
                5px 5px 5px #5e687949;
}

input[type=checkbox]{
    cursor: pointer;
}

.remember-forgot{
    display: flex;
    align-items: center;
    flex-direction: row;
    margin-bottom: 20px;
}

.remember{
    margin-right: 50px;
    color: #808080;
}

.forgot a{
    text-decoration: none;
    color: #808080;
}

.forgot a:hover{
    text-decoration: underline;
    color: #000000;
}

.btn{
    width: 280px;
    height: 45px;
    border: none;
    background-color: #3498db;
    border-radius: 10px;
    font-size: 16px;
    transition: .3s linear;
    cursor: pointer;
}

.reset-password btn {
    margin-top: 10%;

}

.btn:hover{
    border: 2px solid #3498db;
    background-color: #dde1e7;
}

@media screen and (max-width: 750px) {
    .login img, .register img, .reset-password img{
        width: 300px;
        height: 400px;
    }

    .login form, .register form, .reset-password form{

        width: 300px;
        height: 400px;
    }

    .login, .register, .reset-password{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 82%;
        margin-top: 23% ;
        margin-left: 9% ;
    }

    .title{
        height: 70px;
        line-height: 70px;
        margin-bottom: 12px;
        font-size: 18px;
    }

    input[type=text], input[type=email], input[type=password]{
        width: 70%;
        height: 42px;
        margin-bottom: 20px;
        padding-left: 12px;
    }

    .btn{
        width: 84%;
    }

    .login img, .register img, .reset-password img{
        width: 84%;
        height: 200px;
        margin-bottom: 15px;
    }

    .remember{
        margin-right: 30px;

    }

    .remember-forgot{
        font-size: .75rem;
    }

    .reset-password btn {
        width: 78%;

    }
}