

@import "header.css"; /*Importe le style du header*/
@import "login.css"; /*Importe le style du login*/
@import "home.css"; /*Importe le style du home*/
:root{
    --text-color: #fff;
    --bg-color: #fff;
    --main-color: rgb(0, 100, 0);
}

*{
    padding: 0;
    margin: 0;
}

body{
    /*background-image: url("../img/bg-home.png");*/
    background-size: cover;
    background-position: center;
    background-color: #dde1e7;;
    box-sizing: border-box;
    font-family: sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
}

main{
    position: fixed;
    top: 17%;
    width: 100%;
    height: 80%;
    justify-content: center;
    text-align: center;
    display: flex;
}

@media screen and (max-width: 750px) {
    body{
        width: auto;
    }
}


